{% extends 'container/base.html' %}
{% block content %}
{% include "menu1.html" %}
{% include "container/menu2.html" %}
<div class="container top">
  <section>
    <h4 class="kap">Containers</h4>
    <div class="table-responsive">
      <table class="table-striped">
        <thead>
      <tr>
        <th>container ID</th>
        <th>container_type</th>
        <th>container_name</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {% for container in container %}
      <tr>
        <td>{{ container.container_id }}</td>
        <td>{{ container.container_type}}</td>
        <td>{{ container.container_name}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'depot:editcontainer' pk=container.pk %}"><i class="far fa-edit fa-2x edit" style="margin:10px; padding:10px;"></i></a>
            <a href="{% url 'depot:detailcontainer' container.container_id  %}"><i class="fas fa-box-open fa-2x detail" style="margin:10px; padding:10px;"></i></a>
          </div>
        </td>

      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No data</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</section>
  {% endblock %}
