{% extends 'container/base.html' %}
{% block content%}
{% include "menu1.html" %}
{% include "container/menu2.html" %}
<div class="container top">
  <section>
    <h4 class="kap">Containers</h4>
    <div class="table-responsive">
      <table class="table-striped">
        <thead>
      <tr>
        <th>container ID</th>

        <th>container_type</th>

        <th>container_name</th>

        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {% for container in container %}
      <tr>
        <td>{{ container.container_id }}</td>
        <!-- <td>{{ o.container_identifier}}</td> -->
        <td>{{ container.container_type}}</td>
        <!-- <td>{{ o.current_container_tmp}}</td> -->
        <td>{{ container.container_name}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'editcontainer' pk=container.pk %}" class="btn btn-primary" role="button">edit</a>
            <a href="{% url 'containercontents' pk=container.pk %}" class="btn btn-primary" role="button">contents</a>
            <a href="{  url 'editcontainer' pk=o.pk  }" class="btn btn-secondary" role="button">take out</a>
            <a href="{  url 'editcontainer' pk=o.pk  }" class="btn btn-secondary" role="button">request</a>
          </div>
        </td>

      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No data</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</section>
  {% endblock %}
