{% extends 'container/base.html' %}
{% block content%}
{% include "menu1.html" %}
{% include "container/menu2.html" %}
<div class="container">
  <h1>Container:   {{ containercontents.container_name }} {{ form.container_name }}</h1>
  <h2>Samples</h2>
  <div class="">
    {{ containercontents.container_name }}
  </div>
  <div class="clearfix"></div>
  {{ samples }}
  <div class="">
  </div>


<form method="POST" class="post-form">{% csrf_token %}

<div class="float-left">


Location ID {{ form.location_id }} <br />
Container Name {{ form.container_name }} <br />
Container type {{ form.container_type}} <br />
Icon Desc {{ form.icon_desc }} <br />

</div>

<div class="float-right">
  Samples {{ form.samples }} <br />
</div>
<div class="clearfix">

</div>
<button type="submit" class="save btn btn-default mt-3">Save</button>
</form>

{% for sample in containers.instance.samples.all %}
    {{ sample }}
{% endfor %}


</div>
{% endblock %}
