{% extends 'container/base.html' %}
{% load widget_tweaks %}
{% block content %}
{% include "menu1.html" %}
{% include "container/menu2.html" %}
<div class="container top">
    <h1>container</h1>
    <div class="col-sm-3">
    <form method="POST" class="post-form">{% csrf_token %}
        Store ID{{ form.store_id|add_class:""}}<br />
        container Type{{ form.container_type|add_class:""}}<br />
        container Name{{ form.container_name|add_class:""}}<br />
        Icon ID{{ form.icon_desc|add_class:""}}<br />
        <button type="submit" class="save btn btn-dark mt-3t">Save</button>
    </form>
  </div>
</div>
{% endblock %}
