{% extends 'sample/base.html' %}
{% load widget_tweaks %}

{% block content %}
{% include "container/menu2.html" %}


<div class="container top">

<section>
  <form class="" action="." method="GET">
    <div class="form-row">
      <div class="form-group col-8">
        <div class="input-group">
          <input class="form-control py-2 border-right-0 border " style="border-color:black;" type="text" value="" placeholder="Easting" name="area_easting"/>
          <input class="form-control py-2 border-right-0 border " type="text" value="" placeholder="Northing" name="area_northing"/>
          <input class="form-control py-2 border-right-0 border " type="text" value="" placeholder="Context Number" name="context_number"/>
          <input class="form-control py-2 border-right-0 border " type="text" value="" placeholder="Sample Number" name="sample_number"/>
          <input class="form-control py-2 border-right-0 border " type="text" value="" placeholder="Sample Type" name="sample_type"/>
          <span class="input-group-append">
            <div class="input-group-text bg-success" ><button type="submit" class="btn" style="padding:5pt; margin:-5pt; background-color:transparent;"><i class="fa fa-search"></i></button></div>
          </span>
        </div>
      </div>
    </div>
    </form>
</section>



<section>

  <div class="float-left col-md-4">
    <h4 class="kap">{{ container.container_name }} Contents</h4>
    <div class="table-responsive">
      <table class="table-striped table-dark">
        <thead>
          <tr>
            <!-- <th>Sample Id</th> -->
            <th>E.N.C.S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for contents in container_contents %}

            <!-- <td>{{ contents.sample_id }}</td> -->
            <td>{{ contents.area_easting }}.
              {{ contents.area_northing }}.
              {{ contents.context_number }}.
              {{ contents.sample_number }}</td>

              <td class="" style="margin:10px; padding:10px;"><a href="{% url 'depot:change_container'  operation='remove' pk=container.container_id fk=contents.sample_id  %}" class="badge badge-primary" role="button">
                <i class="fas fa-arrow-right fa-2x" ></i>
              </a></td>
            </tr>
            {% empty %}
            <tr>
              <td>
                <p>This container is empty</p>
                <p>Add a sample using the <span class="badge badge-primary"><<</span> button</p>
              </td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


    <div class="float-left col-md-4">


      <h4 class="kap">Unassigned Samples</h4>
      <div class="table-responsive">
        <table class="table-striped table-dark">
          <thead>
            <tr>
              <th></th>
              <th>E.N.C.S</th>
              <!-- <th>Sample ID</th>
              <th>Container ID</th>
              <th>Container name</th> -->
            </tr>
          </thead>
          <tbody>
            {% for unassigned in unassigned_samples %}
            <tr>
              {% if unassigned not in container_contents %}
              <!-- we will want to add an if stmt list if not in unassigned - need to think how to do this -->
              <td style="margin:10px; padding:10px;"><a href="{% url 'depot:change_container'  operation='add' pk=container.container_id fk=unassigned.sample_id  %}" class="badge badge-primary" role="button">
                <i class="fas fa-arrow-left fa-2x"></i>
              </a></td>
              <td>{{ unassigned.area_easting }}.{{ unassigned.area_northing }}.{{ unassigned.context_number }}.{{ unassigned.sample_number }}</td>
              <!-- <td>{{ unassigned.sample_id }}</td>
              <td>{{ container.container_id }}</td> -->
              <!-- <td>{{ container.container_name }}</td> -->
                </tr>


{% endif %}

              {% empty %}
              <tr>
                <td>
                  <p>These are not the samples you are looking for!</p>
                  <p>Use the above filter to search for a sample.
                    <!-- <i class="fas fa-star" style="color:yellow;"></i>
                    <i class="fas fa-star" style="color:yellow;"></i>
                    <i class="fas fa-star" style="color:yellow;"></i> -->
                  </p>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <div class="clearfix" style="padding-top:100px;"></div>






</div>
</div>
</main>
<div class="clearfix"></div>
{% endblock %}
