{% extends 'depotsample/base.html' %}
{% load widget_tweaks %}
{% block content %}
{% include "depotsample/submenu.html" %}
<div class="container top">
  <h4 class="kap">Sample</h4>
  <form method="POST" class="post-form">{% csrf_token %}
    <div class="row mt-1">
      <div class="col">Area Easting{{ form.area_easting|add_class:""}}</div>
      <div class="col">Area Northing{{ form.area_northing|add_class:""}}</div>
      <div class="col">Context Number{{ form.context_number|add_class:""}}</div>
      <div class="col">Sample Number{{ form.sample_number|add_class:""}}</div>
    </div>
    <div class="row mt-1">
      <div class="col-3">Sample Type {{ form.sample_type|add_class:""}}</div>
      <div class="col-3">Weight (Kg) {{ form.weight|add_class:""}}</div>
      <div class="col-6">Description {{ form.description|add_class:""}}</div>
    </div>
    <div class="row mt-1">
      <div class="col-3">Recovery Method {{ form.recovery_method|add_class:""}}</div>
      <div class="col-3">Taken by{{ form.taken_by|add_class:""}}</div>
      <div class="col-6">Comments {{ form.comments|add_class:""}}</div>
    </div>
    <button type="submit" class="save btn btn-dark mt-3t mt-3">Save</button>
  </form>
</div>

{% endblock %}

<!--    |append_attr:"placeholder:Username"   -->
