{% extends "depotsample/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% include "depotsample/menu2.html" %}
<script type="text/javascript">

  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      window.location = $(this).data("href");
    });
  });

</script>

<div class="container top">
  <section>
    <h4 class="kap">Sample List</h4>
    <div class="table-responsive">
      <table class="table-stripedx">
        <thead>
    <tr>
      <th>contextkey (N.E.C)</th>
      <th>Sample Number</th>
      <th>Sample Type</th>
      <th>Weight (kg)</th>

      <th>Description</th>
      <th>Recovery Method</th>
      <th>Taken By</th>
      <th>Comments</th>
      <!-- <th>Actions</th> -->
    </tr>
  </thead>
  <tbody>
    {% for sample in alldepotsample %}
    <tr class='clickable-row' data-href="{% url 'depot:editdepotsample' pk=sample.sample_id %}">
      <td>{{ sample.area_easting }}.{{ sample.area_northing }}.{{ sample.context_number }}</td>
      <td>{{ sample.sample_number }}</td>
      <td>{{ sample.sample_type}}</td>
      <td>{{ sample.weight}}</td>
      <td>{{ sample.description}}</td>
      <td>{{ sample.recovery_method}}</td>
      <td>{{ sample.taken_by}}</td>
      <td>{{ sample.comments}}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">No data</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</section>

{% endblock %}
