{% load staticfiles %}
<div class="clearfix"></div>
  <div  class="" style="margin-top:-150px; position: fixed; width:100%; z-index:-1030;">
    <div class="navbar navbar-inverse navbar-static-top navbar-expand-lg navbar-dark bg-dark" id="topNav">
      <div class="navbar navbar-custom navbar-inverse navbar-static-top navbar-dark bg-dark" id="nav2" >
        <div class="navbar-inner">
          <div class="float-left text-center" style="z-index:-1030; margin-right:10px;"><a href="{% url 'createphotobatch' %}"  style="color:white;"><button  type="button" class="btn btn-success"><img src="{% static 'icon_sets\depot-solid-add.svg'%}" alt"" height="65" width="68" /><br />New Photobatch</button></a></div>
        </div>
      </div>
    </div>
  </div>

<div class="clearfix"></div>
