{% extends 'location/base.html' %}
{% load widget_tweaks %}
{% block content %}
{% include "mainheader.html" %}
{% include "location/submenu.html" %}
<div class="container top">
  <h4 class="kap">Location</h4>
  <table>
    <thead>
      <tr>
        <th>Location ID</th>
        <th>location_type</th>
        <th>location_name</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {% for location in location %}
      <tr>
        <td>{{ location.location_id }}</td>
        <td>{{ location.location_type}}</td>
        <td>{{ location.location_name}}.{{ location.location_sub_name}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'depot:editlocation' pk=location.pk %}" class="btn btn-primary" role="button">edit</a>
            <a href="{  url 'editlocation' pk=o.pk  }" class="btn btn-secondary" role="button">take out</a>
            <a href="{  url 'editlocation' pk=o.pk  }" class="btn btn-secondary" role="button">request</a>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No data</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
