{% extends 'location/base.html' %}
{% load widget_tweaks %}
{% block content %}
{% include "mainheader.html" %}
{% include "location/submenu.html" %}
<div class="container top">
    <h4 class="kap">Location</h4>
    <div class="col-sm-3">
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="row mt-1">
          <div class="col" style="color:white;">Store ID <br />{{ form.store_id|add_class:""}}</div>
          <div class="col" style="color:white;">Location Type <br />{{ form.location_type|add_class:""}}</div>
          <div class="col" style="color:white;">Rack <br />{{ form.location_name|add_class:""}}</div>
          <div class="col" style="color:white;">Shelf <br />{{ form.location_sub_name|add_class:""}}</div>
          <div class="col" style="color:white;">Icon ID <br />{{ form.icon_desc|add_class:""}}</div>
        </div>
        <button type="submit" class="save btn btn-dark mt-3t">Save</button>
    </form>
  </div>
</div>
{% endblock %}
