{% extends "fractionmaterialpresent/base.html" %}
{% load widget_tweaks %}

{% block content %}
{% include "menu1.html" %}
{% include "fractionmaterialpresent/menu2.html" %}


<h1>All LightResidue Material Present</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Material ID</th>
      <th>LightResidue ID</th>
      <th>Material</th>
      <th>sediment</th>
      <th>stone</th>
      <th>roots</th>
      <th>leaves</th>
      <th>insect_parts</th>
      <th>charred_dung</th>
      <th>bone</th>
      <th>shell</th>
    </tr>
  </thead>
  <tbody>
    {% for lightresidue in fractionmaterialpresent.all %}
    <tr>


      <td>{{ lightresidue.material_id }}</td>
      <td>{{ lightresidue.fraction_id }}</td>
      <td>{{ lightresidue.material }}</td>
      <td>{{ lightresidue.sediment }}</td>
      <td>{{ lightresidue.stone }}</td>
      <td>{{ lightresidue.roots }}</td>
      <td>{{ lightresidue.leaves }}</td>
      <td>{{ lightresidue.insect_parts }}</td>
      <td>{{ lightresidue.charred_dung }}</td>
      <td>{{ lightresidue.bone }}</td>
      <td>{{ lightresidue.shell }}</td>

      <td>
        <div class="btn-group" role="group" aria-label="Basic example">

          <a href="{% url 'create_lightresiduematerialpresent' %}" class="btn btn-primary" role="button">Add LightResidue</a>
          <a href="{% url 'detaillightresiduematerialpresent' lightresidue.material_id %}" class="btn btn-warning" role="button">detail</a>
          <a href="% url 'editcontainersearch' pk=o.pk %" class="btn btn-secondary" role="button">request</a>
        </div>
      </td>


    </tr>
    {% endfor %}



  </tbody>
</table>











{% endblock %}
