{% extends "fractionmaterialpresent/base.html" %}
{% load widget_tweaks %}

{% block content %}
{% include "menu1.html" %}
{% include "fractionmaterialpresent/menu2.html" %}


<h1>All LightFraction Material Present</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Material ID</th>
      <th>LightFraction ID</th>
      <th>Material</th>
      <th>sediment</th>
      <th>stone</th>
      <th>roots</th>
      <th>leaves</th>
      <th>insect_parts</th>
      <th>charred_dung</th>
      <th>bone</th>
      <th>shell</th>
    </tr>
  </thead>
  <tbody>
    {% for lightfraction in fractionmaterialpresent.all %}
    <tr>


      <td>{{ lightfraction.material_id }}</td>
      <td>{{ lightfraction.fraction_id }}</td>
      <td>{{ lightfraction.material }}</td>
      <td>{{ lightfraction.sediment }}</td>
      <td>{{ lightfraction.stone }}</td>
      <td>{{ lightfraction.roots }}</td>
      <td>{{ lightfraction.leaves }}</td>
      <td>{{ lightfraction.insect_parts }}</td>
      <td>{{ lightfraction.charred_dung }}</td>
      <td>{{ lightfraction.bone }}</td>
      <td>{{ lightfraction.shell }}</td>

      <td>
        <div class="btn-group" role="group" aria-label="Basic example">

          <a href="{% url 'create_lightfractionmaterialpresent' %}" class="btn btn-primary" role="button">Add LightFraction</a>
          <a href="{% url 'detaillightfractionmaterialpresent' lightfraction.material_id %}" class="btn btn-warning" role="button">detail</a>
          <a href="% url 'editcontainersearch' pk=o.pk %" class="btn btn-secondary" role="button">request</a>
        </div>
      </td>


    </tr>
    {% endfor %}



  </tbody>
</table>











{% endblock %}
