<div class="navbar navbar-custom navbar-inverse navbar-static-top navbar-dark bg-dark" id="nav2">
  <!-- <div class="navbar-inner"> -->
  <a href="{% url 'allbotany' %}">
    <button  type="button" class="btn btn-info float-left">Botany</button>
  </a>
    <a  href="{% url 'allflotation' %}">
      <button  type="button" class="btn btn-outline-info float-left">Flotation</button>
    </a>
    <a href="{% url 'addflotation' %}">
      <button  type="button" class="btn btn-success float-right">Add Flotation</button>
    </a>
    <!-- <a href="{ url 'addlightfraction' }">
      <button  type="button" class="btn btn-success">Add new LightFraction</button>
    </a> -->

    <!-- <a href="{ url 'create_lightfractioncomposition' }">
      <button  type="button" class="btn btn-success">Add new LightFraction Composition</button>
    </a>

    <a href="{ url 'create_lightfractionmaterialpresent' }">
      <button  type="button" class="btn btn-success">Add new LightFraction Material</button>
    </a> -->

    <!-- <a href="{ url 'allfraction' }">
      <button  type="button" class="btn btn-info">Fractions</button>
    </a>
    <a href="{ url 'allfractioncomposition' }">
      <button  type="button" class="btn btn-info">LightFraction Composition</button>
    </a>
    <a href="{ url 'allfractionmaterialpresent' }">
      <button  type="button" class="btn btn-info">LightFraction Material Present</button>
    </a> -->
  <!-- </div> -->
</div>
</div>
<div class="clearfix"></div>
</header>
