{% extends "botany/base.html" %}
{% load widget_tweaks %}

{% block content %}
{% include "menu1.html" %}
{% include "botany/menu2.html" %}


<div class="container">

    <section>
      <h4>
        Sample details
      </h4>
      <!-- <form class="col-sm-4" action=""> -->


      <div class="">
        <p>Botany id: {{ botany.flotation_id }}
        Sample id: {{ botany.sample_id }}
        Context Key: {{ botany.area_easting }}.{{ botany.area_northing }}.{{ botany.context_number }}.{{ botany.sample_number }}
        Entry Date: {{ botany.entry_date }}
        Analysis Date: {{ botany.analysis_date }}
        Analyst: {{ botany.analyst }}</p>
        <p>Notes: {{ botany.notes }}</p>
      </div>
    </section>


  <section>
<h1>Flotation</h1>



<table class="table table-bordered">
  <thead>
    <tr>

      <th>Sample ID</th>
      <th>Key ENC</th>
      <th>Botany ID</th>
      <th>Sample Number</th>
      <th>Entry Date</th>
      <th>Flotation Date</th>
      <th>Analyst</th>
      <th>Notes</th>
      <th>Action</th>


    </tr>
  </thead>
  <tbody>
    {% for botany in botany.all %}
    <tr>



      <td>{{ botany.sample_id }}</td>
      <td>{{ botany.area_easting }}.{{ botany.area_northing }}.{{ botany.context_number }}</td>
      <td>{{ botany.flotation_id }}</td>
      <td>{{ botany.sample_number }}</td>
      <td>{{ botany.entry_date }}</td>
      <td>{{ botany.flotation_date }}</td>
      <td>{{ botany.analyst }}</td>
      <td>{{ botany.notes }}</td>

      <!-- <td>{{ botany.flotation_id.proportion_analysed }}</td> -->

      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="{% url 'addlightresidue' pk=botany.flotation_id %}">
            <span class="badge badge-primary">
                Add LightResidue
              <br />
              <span class="badge badge-light">
                {{ count }}
              </span>
            </span>
          </a>

          <a href="{% url 'detailflotation' botany.flotation_id %}"
          style="padding: 0px 0px 0px 10px;">
            <span class="badge badge-warning">
            Detail<br/ > View
            </span></a>

          <a href="{ url 'flotationrequest' botany.flotation_id }"
          style="padding: 0px 0px 0px 10px;">
            <span class="badge badge-secondary">
            Send<br/ > Request
            </span></a>

          <a href="{ url 'flotationrequest' botany.flotation_id }"
          style="padding: 0px 0px 0px 10px;">
            <span class="badge badge-secondary">
            edit <br />
            </span></a>



        </div>
      </td>

<!--
'editcontainer' pk=o.pk -->

    </tr>
    {% endfor %}


      </tbody>
    </table>

<!--
  </tbody>
</table>

<h1>LightResidue</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>LightResidue ID</th>
      <th>Botany ID</th>
      <th>Proportion Analysed</th>
      <th>Soil Volume</th>
      <th>Sample Volume</th>
      <th>Sample Weight</th>

    </tr>
  </thead>
  <tbody>
    {% for lightresidue in lightresidue.all %}
    <tr>


      <td>{{ lightresidue.fraction_id }}</td>
      <td>{{ lightresidue.flotation_id }}</td>
      <td>{{ lightresidue.proportion_analysed }}</td>
      <td>{{ lightresidue.soil_volume }}</td>

      <td>{{ lightresidue.sample_volume }}</td>
      <td>{{ lightresidue.sample_weight }}</td>

      <td>
        <div class="btn-group" role="group" aria-label="Basic example">

          <a href="{ url 'addcomposition' pk=botany.flotation_id }" class="btn btn-primary" role="button">+ Composition</a>
          <a href="{ url 'addlightresiduematerialpresent' pk=botany.flotation_id }" class="btn btn-primary" role="button">+ Material</a>

          <a href="{ url 'detailflotation' botany.flotation_id }" class="btn btn-warning" role="button">detail</a>
          <a href="{ url 'editcontainersearch' pk=o.pk }" class="btn btn-secondary" role="button">request</a>


        </div>
      </td>


    </tr>
    {% endfor %}



  </tbody>
</table>
<h1>LightResidue Composition</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>LightResidue ID</th>
      <th>Botany ID</th>
      <th>Proportion Analysed</th>
      <th>Soil Volume</th>
      <th>Sample Volume</th>
      <th>Sample Weight</th>
    </tr>
  </thead>
  <tbody>
    {% for composition in composition.all %}
    <tr>
      <td>{{ composition.fract_comp_id }}</td>
      <td>{{ composition.fraction_id }}</td>
      <td>{{ composition.material_type }}</td>
      <td>{{ composition.lightresidue }}</td>
      <td>{{ composition.type_count }}</td>
      <td>{{ composition.whole_weight }}</td>
      <td>{{ composition.fragment_weight }}</td>
  </tr>
    {% endfor %}
  </tbody>
</table>
<h1>LightResidue Material Present</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>LightResidue ID</th>
      <th>Botany ID</th>
      <th>Proportion Analysed</th>

    </tr>
  </thead>
  <tbody>
    {% for fractionmaterialspresent in fractionmaterialspresent.all %}
    <tr>
      <td>{{ fractionmaterialspresent.material_id }}</td>
      <td>{{ fractionmaterialspresent.fraction_id }}</td>
      <td>{{ fractionmaterialspresent.material }}</td>
  </tr>
    {% endfor %}
  </tbody>
</table>
 -->



</section>
</div>

{% endblock %}
