blog/__pycache__/

botany/migrations/
botany/migrations/__pycache__/
botany/__pycache__/

depot/migrations/
depot/__pycache__/

jobs/migrations/
jobs/__pycache__/

kap/__pycache__/

kap/settings\.py

media/images/


spatial3d/migrations/


tickets/__pycache__/
tickets/migrations/

zooarch/migrations/
zooarch/__pycache__/
