{% extends "species/base.html" %}
{% load widget_tweaks %}
{% load has_group %}
{% load new_rows %}

{% block content %}
{% include "species/menu2.html" %}
<script type="text/javascript">

  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      window.location = $(this).data("href");
    });
  });

</script>

<div class="container top">




<h4 class="kap">Species manager</h4>


<table class="table-striped">
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <th>Genus</th>
      <th>Species</th>
      <th>Common Name</th>
    </tr>
  </thead>
  <tbody>
    {% for species in species %}
    <tr>
      <!-- <td>{{species.species_id}}</td> -->
      <td>{{species.genus}}</td>
      <td>{{species.species}}</td>
      <td>{{species.common_name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>









</div>
    {% endblock %}
