{% extends 'qnisp/base.html' %}
{% load has_group %}
{% load widget_tweaks %}
{% block content %}
{% include "mainheader.html" %}
{% include "qnisp/submenu.html" %}


<div class="container top">
  <section>


  <table class="table table-bordered">
    <thead>
      <tr>
        <th>qnisp</th>

        <th>E.N.C.S</th>
        <th>Collection Method</th>
        <th>Mandible with teeth</th>
        <th>bt</th>

        <th>ss</th>
        <th>oc_tje</th>
        <th>ch</th>
        <th>oa</th>
        <th>equid</th>

        <th>cer</th>
        <th>lp</th>
        <th>meles</th>
        <th>pesc</th>
        <th>brd</th>

        <th>canis</th>
        <th>unio</th>
        <th>cerastoderma</th>
        <th>landsnail</th>
        <th>shell other</th>

        <th>rodent</th>
        <th>ursus</th>
        <th>big feline lynx-size</th>
        <th>comments</th>
        <th>actions</th>



      </tr>
    </thead>
    <tbody>
      <!-- { for qnisp in allqnisp %} -->
      {% for qnisp in qnisp.all %}

      <tr>
        <td>  <a href="{% url 'editqnisp' pk=qnisp.pk %}">{{ qnisp.qnisp_id }}</a></td>

        <td>{{ qnisp.area_easting }}.{{ qnisp.area_northing }}.{{ qnisp.context_number }}.{{ qnisp.sample_number }}</td>
        <td>{{ qnisp.collection_method }}</td>
        <td>{{ qnisp.mandible_with_teeth }}</td>

        <td>{{ qnisp.bt|default:"" }}</td>
        <td>{{ qnisp.ss|default:""}}</td>
        <td>{{ qnisp.oc_tje|default:""}}</td>
        <td>{{ qnisp.ch|default:""}}</td>
        <td>{{ qnisp.oa|default:""}}</td>
        <td>{{ qnisp.equid|default:""}}</td>
        <td>{{ qnisp.cer|default:""}}</td>
        <td>{{ qnisp.lp|default:""}}</td>
        <td>{{ qnisp.meles|default:""}}</td>
        <td>{{ qnisp.pesc|default:""}}</td>
        <td>{{ qnisp.brd|default:""}}</td>
        <td>{{ qnisp.canis|default:""}}</td>
        <td>{{ qnisp.unio|default:""}}</td>
        <td>{{ qnisp.cerastoderma|default:""}}</td>
        <td>{{ qnisp.landsnail|default:""}}</td>
        <td>{{ qnisp.shell_other|default:""}}</td>
        <td>{{ qnisp.rodent|default:""}}</td>
        <td>{{ qnisp.ursus|default:""}}</td>
        <td>{{ qnisp.big_feline_lynx_size|default:""}}</td>
        <td>{{ qnisp.comments|default:""}}</td>


        <td>
          <div class="btn-group" role="group" aria-label="Basic example">

            <a href="{% url 'editqnisp' pk=qnisp.pk %}" class="btn btn-primary" role="button">edit</a>
            <a href="{% url 'detailqnisp' qnisp.qnisp_id %}" class="btn btn-info" role="button">detail</a>





            {% if request.user|has_group:"admin_zooarchaeology"%}
            <a
              onclick="return confirm('Are you sure you want to delete this?\n This is a one time action which CANNOT be recovered!\n If you are unsure see/contact the database manager.')"
              href="{% url 'removeqnisp' pk=qnisp.pk %}" class="btn btn-danger" role="button">delete</a>
                  {% else %}
            <a href="#" class="btn btn-secondary" role="button">delete</a>
            {% endif %}



          </div>
          <br /><span style = "font-size:0.7em;">{{ qnisp.created_by }}</span>
          <span style = "font-size:0.7em;">{{ qnisp.created_timestamp }}</span>
        </td>

      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No data</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </section>

  <div class="container-fluid pt-3">
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
          Page {{ page_obj.number }} of {{page_obj.paginator.num_pages}}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>



{% endblock %}
