{% extends 'sample/base.html' %}
{% load widget_tweaks %}

{% block content %}
{% include "menu1.html" %}
{% include "sample/menu2.html" %}
<div class="container">
    <h1>Sample</h1>
    <div class="col-sm-3">
    <form method="POST" class="post-form">{% csrf_token %}
        Area Easting{{ form.area_easting|add_class:"form-control"}}<br />
        Area Northing{{ form.area_northing|add_class:"form-control"}}<br />
        Context Number{{ form.context_number|add_class:"form-control"}}<br />
        Sample Number{{ form.sample_number|add_class:"form-control"}}<br />
        Material Type {{ form.material_type|add_class:"form-control"}}<br />
        Weight  {{ form.weight|add_class:"form-control"}} (Kg)<br />
        Description {{ form.description|add_class:"form-control"}}<br />
        Recovery Method {{ form.recovery_method|add_class:"form-control"}}<br />
        Taken by{{ form.taken_by|add_class:"form-control"}}<br />
        Comments {{ form.comments|add_class:"form-control"}}<br />
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
  </div>
</div>

{% endblock %}

<!--    |append_attr:"placeholder:Username"   -->
