{% extends 'sample/base.html' %}
{% load widget_tweaks %}
{% block content %}
{% include "sample/menu2.html" %}
<div class="container top">
  <h4 class="kap">Sample</h4>
  <form method="POST" class="post-form">{% csrf_token %}
    <div class="row mt-1">
      <div class="col" style="color:white;">{{ form.area_easting}}</div>
      <div class="col" style="color:white;">{{ form.area_northing}}</div>
      <div class="col" style="color:white;">{{ form.context_number|append_attr:"placeholder:Context Number"}}</div>
      <div class="col" style="color:white;">{{ form.sample_number|append_attr:"placeholder:Sample Number"}}</div>
    </div>
    <div class="row mt-1">
      <div class="col-3" style="color:white;">{{ form.sample_type|append_attr:"placeholder:Sample Type"}}</div>
      <div class="col-3" style="color:white;">{{ form.weight|append_attr:"placeholder:Weight (kg)"}}</div>
      <div class="col-6" style="color:white;">{{ form.description|append_attr:"placeholder:Description"}}</div>
    </div>
    <div class="row mt-1">
      <div class="col-3" style="color:white;">{{ form.recovery_method|append_attr:"placeholder:Recovery Method"}}</div>
      <div class="col-3" style="color:white;">{{ form.taken_by|append_attr:"placeholder:Taken By"}}<br /> Taken by</div>
      <div class="col-6" style="color:white;">{{ form.comments|append_attr:"placeholder:Comments"}}</div>
    </div>
    <button type="submit" class="save btn btn-dark mt-3t mt-3">Save</button>
  </form>
</div>

{% endblock %}

<!--    |append_attr:"placeholder:Username"   -->
