{% extends 'sample/base.html' %}
{% load widget_tweaks %}

{% block content %}
{ include "menu1.html" }
{% include "sample/menu2.html" %}
<!-- <section>
  <div class="float-right col-sm-1">
    <div class="pt-3">
      <a class="btn btn-default" href="{ url 'addflotation' pk=sample.sample_id }"><span class="glyphicon glyphicon-pencil">
        <button type="button" class="btn btn-primary">edit sample add</button>
      </span></a>
    </div>
  </div>
</section> -->

<div class="container" style="margin-top:150px;">
  <section>
    <div class="">
      <div>
      <div class="btn-group">
        <span class = "badge badge-info">Botany id:</span> <span class = "badge badge-light"> {{ sample.sample_id }} </span>
      </div>
      <div class="btn-group">
        <span class = "badge badge-info">Context Key:</span> <span class = "badge badge-light"> {{ sample.area_easting }} </span>.<span class = "badge badge-light"> {{ sample.area_northing }} </span>.<span class = "badge badge-light"> {{ sample.context_number }} </span>.<span class = "badge badge-light"> {{ sample.sample_number }} </span>
      </div>
      <div class="btn-group">
        <span class = "badge badge-info">Sample Type:</span> <span class = "badge badge-light"> {{ sample.sample_type }} </span>
      </div>
      <div class="btn-group">
        <span class = "badge badge-info">Weight:</span> <span class = "badge badge-light"> {{ sample.weight }} </span>
      </div>
      <div class="btn-group">
        <span class = "badge badge-info">Description:</span> <span class = "badge badge-light"> {{ sample.description }} </span>
      </div>

      <div class="btn-group">
        <span class = "badge badge-info">Recovery Method:</span> <span class = "badge badge-light"> {{ sample.recovery_method }} </span>
      </div>


      <div class="btn-group">
        <span class = "badge badge-info">Taken By:</span> <span class = "badge badge-light"> {{ sample.taken_by }} </span>
      </div>

      </div>
      <div class="btn-group">
        <span class = "badge badge-info">Comments:</span> <span class = "badge badge-light"> {{ sample.comments }} </span>
      </div>
    </div>
  </section>

  <section>
    <div class="float-left col-sm-9">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 style="color:white;">
                Flotation
              </h4>
            </div>
            <table class="table table-fixed">
              <thead>
                <tr>
                  <th class="table">Flotation ID</th>
                  <th class="table">Sample ID</th>
                  <th class="table">Key ENC</th>
                  <th class="table">Sample Number</th>
                  <th class="table">Entry Date</th>
                  <th class="table">Flotation Date</th>
                  <th class="table">Analyst</th>
                  <th class="table">Notes</th>
                </tr>
              </thead>
              <tbody>
              {% for flotation in flotation.all %}
                <tr>
                  <td class="table">{{ flotation.flotation_id }}</td>
                  <td class="table">{{ flotation.sample_id }}</td>
                  <td class="table">{{ flotation.area_easting }}.{{ flotation.area_northing }}.{{ flotation.context_number}}</td>
                  <td class="table">{{ flotation.sample_number }}</td>
                  <td class="table">{{ flotation.entry_date }}</td>
                  <td class="table">{{ flotation.flotation_date }}</td>
                  <td class="table">{{ flotation.analyst_id }}</td>
                  <td class="table">{{ flotation.notes  }}</td>

                  <td class="borderless">
                  <div class="btn-group" role="group" aria-label="Basic example">
                  <!-- <a href="{% url 'addlightresidue' fk=sample.sample_id pk=flotation.flotation_id %}" class="badge badge-primary" role="button">+ LightResidue A</a> -->
                  <a href="{% url 'addlightresidue' fk=sample.sample_id pk=flotation.flotation_id %}" class="badge badge-primary" role="button">+ LightResidue A</a>


    

                  <!-- <a href="{ url 'addmaterialpresent' fk=botany.flotation_id pk=lightresidue.fraction_id }" class="badge badge-primary" role="button">Material</a> -->
                  <a href="{% url 'detailflotation' flotation.flotation_id %}" class="badge badge-warning" role="button">detail</a>
                    <!-- <a href="{ url 'detaillightresidue' pk=flotation_id }" class="badge badge-warning" role="button">detail++</a> -->
                  <a href="{% url 'editflotation' pk=flotation.pk %}"
                   class="badge badge-secondary" role="button">
                   edit flotation
                 </a>
                  </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>


          </div>
        </div>
      </div>
  </section>
</div>
</div>
</main>
<div class="clearfix">

</div>
{% endblock %}
