{% extends "sample/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% include "sample/menu2.html" %}
<div class="container top">
  <section>
    <h4 class="kap">Sample List</h4>
    <div class="table-responsive">
      <table class="table-striped">
        <thead>
        <tr>
          <th class="table">Sample ID</th>
          <th class="table">Key ENC</th>
          <th class="table">Sample Number</th>
          <th class="table">Sample Type</th>
          <th class="table">Weight</th>
          <th class="table">Description</th>
          <th class="table">Recovery Method</th>
          <th class="table">Taken by</th>
          <th class="table">Comments</th>
          <th class="borderless" style="color:white; border: 1px solid transparent;">Action</th>
        </tr>
      </thead>
      <tbody>
        {% if sample_list %}
        {% for sample in sample_list %}
        <tr>
          <td class="table">{{ sample.sample_id }}</td>
          <td class="table">{{ sample.area_easting }}.{{ sample.area_northing }}.{{ sample.context_number }}</td>
          <!-- <td class="table">{{ sample.sample_id }}</td> -->
          <td class="table">{{ sample.sample_number }}</td>
          <td class="table">{{ sample.sample_type }}</td>
          <td class="table">{{ sample.weight }}</td>
          <td class="table">{{ sample.description }}</td>
          <td class="table">{{ sample.recovery_method }}</td>
          <!-- <td class="table">{{ sample.entry_date }}</td>
          <td class="table">{{ sample.flotation_date }}</td> -->
          <td class="table">{{ sample.taken_by }}</td>
          <td class="table">{{ sample.comments }}</td>
          <td class="borderless" style="border: 1px solid transparent">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="{% url 'addflotation' pk=sample.sample_id %}">
                <span class="badge badge-primary">
                  Add Flotation
                  <br />
                  <span class="badge badge-light">
                    {{ count }}
                  </span>
                </span>
              </a>
              <a href="{% url 'detailsample' sample.sample_id %}"
              style="padding: 0px 0px 0px 10px;">
              <span class="badge badge-warning">
                Detail<br/ > View
              </span></a>
              <a href="{% url 'editsample' pk=sample.pk %}"
              style="padding: 0px 0px 0px 10px;">
              <span class="badge badge-secondary">
                edit <br /> here samples <br />
              </span></a>
            </div>
          </td>
          {% endfor %}

          {% else %}
          <p>There are no samples to display.</p>
          {% endif %}

        </tbody>
      </table>
    </section>


<section>
  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
</section>


  </div>
  {% endblock %}
