{% extends "sample/base.html" %}
{% load widget_tweaks %}

{% block content %}
{% include "menu1.html" %}
{% include "sample/menu2.html" %}

<div class="container">
  <section>
    <h1>Botanical Samples</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sample ID</th>
          <th>Key ENC</th>
          <th>Sample Number</th>
          <th>Sample Type</th>
          <th>Weight</th>
          <th>Description</th>
          <th>Recovery Method</th>
          <th>Taken by</th>
          <th>Comments</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

        {% if sample_list %}

        {% for sample in sample_list %}
        <tr>
          <td>{{ sample.sample_id }}</td>
          <td>{{ sample.area_easting }}.{{ sample.area_northing }}.{{ sample.context_number }}</td>
          <!-- <td>{{ sample.sample_id }}</td> -->
          <td>{{ sample.sample_number }}</td>
          <td>{{ sample.sample_type }}</td>
          <td>{{ sample.weight }}</td>
          <td>{{ sample.description }}</td>
          <td>{{ sample.recovery_method }}</td>
          <!-- <td>{{ sample.entry_date }}</td>
          <td>{{ sample.flotation_date }}</td> -->
          <td>{{ sample.taken_by }}</td>
          <td>{{ sample.comments }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="{% url 'addflotation' pk=sample.sample_id %}">
                <span class="badge badge-primary">
                  Add Flotation
                  <br />
                  <span class="badge badge-light">
                    {{ count }}
                  </span>
                </span>
              </a>
              <a href="{% url 'detailsample' sample.sample_id %}"
              style="padding: 0px 0px 0px 10px;">
              <span class="badge badge-warning">
                Detail<br/ > View
              </span></a>
              <a href="{% url 'editsample' pk=sample.pk %}"
              style="padding: 0px 0px 0px 10px;">
              <span class="badge badge-secondary">
                edit <br /> here samples <br />
              </span></a>
            </div>
          </td>
          {% endfor %}

          {% else %}
          <p>There are no samples to display.</p>
          {% endif %}

        </tbody>
      </table>
    </section>


<section>
  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
</section>


  </div>
  {% endblock %}
