{% load staticfiles %}
<header>
  <div  class="" style="margin-top:-150px; position: fixed; width:100%; z-index:-1030;">
    <div class="navbar navbar-inverse navbar-static-top navbar-expand-lg navbar-dark bg-dark" id="topNav">
      <div class="navbar navbar-custom navbar-inverse navbar-static-top navbar-dark bg-dark" id="nav2" >
        <div class="navbar-inner">
          <div class="float-left text-center" style="margin-right:10px;"><a href="{% url 'depot:createstorage' %}"  style="color:white;"><button  type="button" class="btn btn-success"><img src="{% static 'icon_sets\depot-solid-add.svg'%}" alt"" height="65" width="68" /><br />New Depot</button></a></div>
          <div class="float-left text-center" style="margin-right:10px;"><a href="{% url 'depot:alldepotsample' %}" style="color:white;"><button  type="button" class="btn btn-info"><img src="{% static 'icon_sets\tag-solid.svg'%}" alt"" height="65" width="68" /><br />Samples</button></a></div>
          <div class="float-left text-center" style="margin-right:10px;"><a href="{% url 'depot:allcontainer' %}" style="color:white;"><button  type="button" class="btn btn-info"><img src="{% static 'icon_sets\box-solid.svg'%}" alt"" height="65" width="68" /><br />Containers</button></a></div>
          <div class="float-left text-center" style="margin-right:10px;"><a href="{% url 'depot:alllocation' %}" style="color:white;"><button  type="button" class="btn btn-info"><img src="{% static 'icon_sets\inventory-solid.svg'%}" alt"" height="65" width="68" /><br />Location</button></a></div>
          <div class="float-left text-center" style="margin-right:10px;"><a href="{% url 'depot:allstorage' %}" style="color:white;"><button  type="button" class="btn btn-outline-info"><img src="{% static 'icon_sets\depot-solid.svg'%}" alt"" height="65" width="68" /><br/>Storage</button></a></div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="clearfix"></div>
