{% extends "composition/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% include "mainheader.html" %}
{% include "composition/submenu.html" %}
<h1>Composition</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Composition ID</th>
      <th>Flotation ID</th>
      <th>Proportion Analysed</th>
      <th>Soil Volume</th>
      <th>Sample Volume</th>
      <th>Sample Weight</th>
    </tr>
  </thead>
  <tbody>
    {% for composition in composition.all %}
    <tr>
      <td>{{ composition.composition_id }}</td>
      <td>{{ composition.flotation_id }}</td>
      <td>{{ composition.material_type }}</td>
      <td>{{ composition.type_count }}</td>
      <td>{{ composition.whole_weight }}</td>
      <td>{{ composition.fragment_weight }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="{% url 'createfraction' %}" class="btn btn-primary" role="button">Add LightResidue</a>
          <a href="{% url 'detailcomposition' composition.fract_comp_id %}" class="btn btn-warning" role="button">detail</a>
          <a href="% url 'editcontainersearch' pk=o.pk %" class="btn btn-secondary" role="button">request</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
