{% extends 'fraction/base.html' %}
{% load widget_tweaks %}

{% block content %}
{% include "menu1.html" %}
{% include "fraction/menu2.html" %}
<div class="container">
    <h1>Fraction</h1>
    <div class="col-sm-3">
    <form method="POST" class="post-form">{% csrf_token %}
        Botany ID{{ form.botany_id|add_class:"form-control"}}<br />
        Proportion Analysed{{ form.proportion_analysed|add_class:"form-control"}}<br />
        Soil Volume (Ltrs){{ form.soil_volume|add_class:"form-control"}}<br />
        Sample Volume (ml){{ form.sample_volume|add_class:"form-control"}}<br />
        Sample Weight (grams){{ form.sample_weight|add_class:"form-control"}}<br />
        sediment {{ form.sediment|add_class:"form-control" }}<br />
        stone {{ form.stone|add_class:"form-control" }}<br />
        roots {{ form.roots|add_class:"form-control" }}<br />
        leaves {{ form.leaves|add_class:"form-control" }}<br />
        insect_parts {{ form.insect_parts|add_class:"form-control" }}<br />
        charred_dung {{ form.charred_dung|add_class:"form-control" }}<br />
        bone {{ form.bone|add_class:"form-control" }}<br />
        shell {{ form.shell|add_class:"form-control" }}<br />
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
  </div>
</div>
{% endblock %}


<!--    |append_attr:"placeholder:Username"   -->
