{% extends 'fraction/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% include "mainheader.html" %}
{% include "fraction/submenu.html" %}
<div class="container top">
  <section>
    <div class="">
      <div>
        <div class="btn-group">
          <span class = "badge badge-info">composition id:</span> <span class = "badge badge-light"> {{ composition.composition_id }} </span>
        </div>
        <div class="btn-group">
          <span class = "badge badge-info">Sample id:</span> <span class = "badge badge-light"> {{ composition.sample_id }} </span>
        </div>
        <div class="btn-group">
          <span class = "badge badge-info">Context Key:</span> <span class = "badge badge-light"> {{ composition.area_easting }} </span>.<span class = "badge badge-light"> {{ composition.area_northing }} </span>.<span class = "badge badge-light"> {{ composition.context_number }} </span>.<span class = "badge badge-light"> {{ composition.sample_number }} </span>
        </div>
        <div class="btn-group">
          <span class = "badge badge-info">Entry Date:</span> <span class = "badge badge-light"> {{ composition.entry_date }} </span>
        </div>
        <div class="btn-group">
          <span class = "badge badge-info">Analysis Date:</span> <span class = "badge badge-light"> {{ composition.composition_date }} </span>
        </div>
        <div class="btn-group">
          <span class = "badge badge-info">Analyst:</span> <span class = "badge badge-light"> {{ composition.analyst_id }} </span>
        </div>
      </div>
      <div class="btn-group">
        <span class = "badge badge-info">Notes:</span> <span class = "badge badge-light"> {{ composition.notes }} </span>
      </div>
    </div>
  </section>
  <section>
    <h4 class="kap">
      Plant Part
    </h4>
    <div class="table-responsive">
      <table class="table-striped">
        <thead>
          <tr>
            <th>Plant Part ID</th>
            <th>Fraction ID</th>
            <th>Plant Part</th>
            <th>Count</th>
            <th>Weight</th>
          </tr>
        </thead>
        <tbody>
          {% for plantpart in plantpart.all %}
          <tr>
            <td>{{ plantpart.plantpart_id }}</td>
            <td>{{ plantpart.fraction_id }}</td>
            <td>{{ plantpart.plant_part }}</td>
            <td>{{ plantpart.part_count }}</td>
            <td>{{ plantpart.part_weight }}</td>
            <td class="">
              <div class="btn-group" role="group" aria-label="Basic example">
                <!-- <a href="{ url 'addplantpart' fk=composition.composition_id pk=fraction.fraction_id }" class="badge badge-primary" role="button">+ Plant Part</a> -->
                <!-- <a href="{ url 'detailfraction' composition.composition_id fraction.fraction_id  }" class="badge badge-warning" role="button">detail</a> -->
                <a href="{% url 'editplantpart' fk=fraction.fraction_id pk=plantpart.pk %}" class="badge badge-secondary" role="button">
                  edit fraction
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>
</main>
<div class="clearfix">
</div>
{% endblock %}
