{% extends "flotation/base.html" %}
{% load widget_tweaks %}

{% block content %}
{% include "menu1.html" %}
{% include "flotation/menu2.html" %}

<div class="container">
  <section>
    <h1>Flotation</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sample ID</th>
          <th>Key ENC</th>
          <th>Flotation ID</th>
          <th>Sample Number</th>
          <th>Entry Date</th>
          <th>Flotation Date</th>
          <th>Analyst</th>
          <th>Notes</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for flotation in flotation.all %}
        <tr>
          <td>{{ flotation.sample_id }}</td>
          <td>{{ flotation.area_easting }}.{{ flotation.area_northing }}.{{ flotation.context_number }}</td>
          <td>{{ flotation.botany_id }}</td>
          <td>{{ flotation.sample_number }}</td>
          <td>{{ flotation.entry_date }}</td>
          <td>{{ flotation.flotation_date }}</td>
          <td>{{ flotation.analyst_id }}</td>
          <td>{{ flotation.notes }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="{% url 'addfraction' pk=flotation.botany_id %}">
                <span class="badge badge-primary">
                    Add Fraction
                  <br />
                  <span class="badge badge-light">

                    {{ count }}

                  </span>
                </span>
              </a>

              <a href="{% url 'detailflotation' flotation.botany_id %}"
              style="padding: 0px 0px 0px 10px;">
                <span class="badge badge-warning">
                Detail<br/ > View
                </span></a>

              <a href="{ url 'flotationrequest' flotation.botany_id }"
              style="padding: 0px 0px 0px 10px;">
                <span class="badge badge-secondary">
                Send<br/ > Request
                </span></a>

              <a href="{% url 'editflotation' pk=flotation.pk %}"
              style="padding: 0px 0px 0px 10px;">
                <span class="badge badge-secondary">
                edit here <br />
                </span></a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
