{% extends "flotation/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% include "mainheader.html" %}
{% include "flotation/submenu.html" %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      window.location = $(this).data("href");
    });
  });
</script>
<div class="container top">
  <section>
    <h4 class="kap">Flotation Editing file</h4>
    <div class="table-responsive">
      <table class="table-striped">
        <thead>
          <tr>
            <th>Sample ID</th>
            <th>Key ENC</th>
            <th>Flotation ID</th>
            <th>Sample Number</th>
            <th>Entry Date</th>
            <th>Flotation Date</th>
            <th>Analyst</th>
            <th>Notes</th>
            <th class="borderless">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for flotation in flotation.all %}
          <tr class='clickable-row' data-href="{% url 'editflotation' pk=flotation.pk %}">
            <td>{{ flotation.sample_id }}</td>
            <td>{{ flotation.area_easting }}.{{ flotation.area_northing }}.{{ flotation.context_number }}</td>
            <td>{{ flotation.flotation_id }}</td>
            <td>{{ flotation.sample_number }}</td>
            <td>{{ flotation.entry_date }}</td>
            <td>{{ flotation.flotation_date }}</td>
            <td>{{ flotation.analyst_id }}</td>
            <td>{{ flotation.notes }}</td>
            <td class=" action">
              <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{% url 'addlightresidue' pk=flotation.flotation_id %}" class="add" title="add light residue">
                  <i class="fas fa-plus add" ></i>
                </a>
                <a href="{% url 'detailflotation' flotation.flotation_id %}" class="detail" title="more detail">
                  <i class="far fa-address-card detail"></i>
                </a>
                <!-- <a href="{ url 'editflotation' pk=flotation.pk }" class="edit" title="edit">
                <i class="far fa-edit edit"></i>
              </a> -->
              <a href="{% url 'editflotation' pk=flotation.pk %}" class="delete" title="delete">
                <i class="fas fa-trash-alt delete"></i>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
