{% extends 'lightresidue/base.html' %}
{% load widget_tweaks %}
{% block content %}
{% include "lightresidue/menu2.html" %}
<div class="container" style="margin-top:150px;">
  <section>
    <div class="">
      <div>
        <div class="btn-group">
          <span class = "badge badge-info">Light Residue id:</span> <span class = "badge badge-light"> {{ lightresidue.lightresidue_id }} </span>
        </div>
        <div class="btn-group">
          <span class = "badge badge-info">Flotation id:</span> <span class = "badge badge-light"> {{ lightresidue.flotation_id }} </span>
        </div>
        <div class="btn-group">
          <span class = "badge badge-info">Context Key:</span> <span class = "badge badge-light"> {{ flotation.area_easting }}</span>.<span class = "badge badge-light"> {{ flotation.area_northing }} </span>.<span class = "badge badge-light"> {{ flotation.context_number }} </span>.<span class = "badge badge-light"> {{ flotation.sample_number }} </span>
        </div>
        <div class="btn-group">
          <span class = "badge badge-info">Entry Date:</span> <span class = "badge badge-light"> {{ lightresidue.proportion_analysed }} </span>
        </div>
        <div class="btn-group">
          <span class = "badge badge-info">Soil Volume:</span> <span class = "badge badge-light"> {{ lightresidue.soil_volume }} </span>
        </div>
        <div class="btn-group">
          <span class = "badge badge-info">Sample Volume:</span> <span class = "badge badge-light"> {{ lightresidue.sample_volume }} </span>
        </div>

        <div class="btn-group">
          <span class = "badge badge-info">Sample Weight:</span> <span class = "badge badge-light"> {{ lightresidue.sample_weight }} </span>
        </div>
        <div class="btn-group">
          <span class = "badge badge-info">Analyst:</span> <span class = "badge badge-light"> {{ flotation.analyst_id }} </span>
        </div>
      </div>
      <div class="btn-group">
        <span class = "badge badge-info">Notes:</span> <span class = "badge badge-light"> {{ flotation.notes }} </span>
      </div>
    </div>
  </section>

  <section>
    <div class="float-left col-sm-9">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 style="color:white;"">
                          Compositions
                        </h4>
                      </div>
                      <table class="table table-fixed">
                        <thead>
                          <tr>
                <th>Composition ID</th>
                <th>LightResidue ID</th>
                <th>Material Type</th>
                <th>LightResidue</th>
                <th>Type Count</th>
                <th>Whole Weight</th>
                <th>Fragment Weight</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for composition in composition.all %}
              <tr>
                <td>{{ composition.composition_id }}</td>
                <td>{{ composition.lightresidue_id }}</td>
                <td>{{ composition.material_type }}</td>
                <td>{{ composition.lightresidue }}</td>
                <td>{{ composition.type_count }}</td>
                <td>{{ composition.whole_weight }}</td>
                <td>{{ composition.fragment_weight }}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                  <a href="{% url 'addfraction' fk=lightresidue.lightresidue_id pk=composition.composition_id %}" class="badge badge-primary" role="button">+ Fraction</a>
                  <a href="{% url 'detailcomposition' lightresidue.lightresidue_id composition.composition_id %}" class="badge badge-warning" role="button">++ detail</a>
                  <a href="{% url 'editcomposition' fk=lightresidue.lightresidue_id pk=composition.pk %}" class="badge badge-secondary" role="button">
                   edit composition
                 </a>
                  </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</div>
</main>
<div class="clearfix"></div>
{% endblock %}
