<div class="navbar navbar-custom navbar-inverse navbar-static-top navbar-dark bg-dark" id="nav2">
  <!-- <div class="navbar-inner"> -->

<div class="float-left">
  <a href="{% url 'allbotany' %}">
    <button  type="button" class="btn btn-info float-left mr-1">Botany</button>
  </a>

    <a  href="{% url 'allflotation' %}">
      <button  type="button" class="btn btn-outline-info float-left mr-1">Flotation</button>
    </a>

    <a  href="{% url 'allsample' %}">
      <button  type="button" class="btn btn-info float-left mr-1">Sample</button>
    </a>

</div>

<div>



    <a href="{% url 'addflotation' %}">
      <button  type="button" class="btn btn-success float-right mr-1">Add Flotation</button>
    </a>
    <!-- <a href="{ url 'addlightresidue' }">
      <button  type="button" class="btn btn-success">Add new LightResidue</button>
    </a> -->

    <!-- <a href="{ url 'create_composition' }">
      <button  type="button" class="btn btn-success">Add new LightResidue Composition</button>
    </a>

    <a href="{ url 'create_lightresiduematerialpresent' }">
      <button  type="button" class="btn btn-success">Add new LightResidue Material</button>
    </a> -->

    <!-- <a href="{ url 'allfraction' }">
      <button  type="button" class="btn btn-info">Fractions</button>
    </a>
    <a href="{ url 'allcomposition' }">
      <button  type="button" class="btn btn-info">LightResidue Composition</button>
    </a>
    <a href="{ url 'allfractionmaterialpresent' }">
      <button  type="button" class="btn btn-info">LightResidue Material Present</button>
    </a> -->
  <!-- </div> -->
</div>
</div>
<div class="clearfix"></div>

<div id="lifeline" style="min-width: 310px; height: 50px; margin: 0 auto; border-style:solid;"></div>
</header>
