/* https://ethanschoonover.com/solarized/
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/

.kap-dark{
background-color::#657b83;

}

body{
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),
  linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),
  linear-gradient(135deg, #670d10 0%,#092756 100%);
}

table {
  margin-bottom: 10px;
  background: rgba(0,0,0,0.3);
  border: none;
  outline: none;
  padding: 20px;
  font-size: 15px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}

thead {
  /* padding-right:20px; */
  color:#93a1a1;
  box-shadow: inset 0 -5px 45px rgba(0,0,0,0.8), 0 1px 1px rgba(0,0,0,0.8);
}

tbody, td, th {
  padding-right:20px;
  color:#586e75;
  font-size: 20px;
}



#link {
  color:#6c71c4;
}

tr:hover {
  text-shadow: 1px 1px 1px #839496;
  box-shadow: inset 0 -5px 45px rgba(0,0,0,0.8), 0 1px 1px rgba(0,0,0,0.8);
}
tr.clickable-row { cursor: pointer; }

h4.kap {
  /* color:white; */
  color: #93a1a1;
}



input {
  /* width: 100%; */
  /* width: 250px */
  margin-bottom: 10px;
  background: rgba(0,0,0,0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}
input[type=text], select {
  margin-bottom: 10px;
  background: rgba(0,0,0,0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }


div.top {
  margin-top:200px;
}

.action{
  color:white;
  border: 1px solid transparent;
}

i.add{
  color: #859900;
}

i.detail{
  color: #6c71c4;
}

i.edit{
  color: #b58900;
}

i.delete{
  color: #dc322f;
}

a.add{
  padding: 0px 0px 0px 20px;
}

a.detail{
  padding: 0px 0px 0px 20px;
}

a.edit{
  padding: 0px 0px 0px 20px;
}

a.delete{
  padding: 0px 0px 0px 20px;
}
