{% extends 'storage/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content%}
{% include "storage/menu2.html" %}
{% load has_group %}
{% load new_rows %}

<div class="container top">
  <div class="">
    <h2 class="kap text-center">Database Migration Center</h2>
  </div>



  <div class="card-group">
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="text-center" style="margin-left:auto; margin-right:auto;">
        <img class=" float-left" src="{% static 'icon_sets\Microsoft_Access_2013_logo.svg'%}" alt"" height="65" width="68" />
        <img class=" float-left" src="{% static 'icon_sets\Postgresql.svg'%}" alt"" height="65" width="68" />
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Cyrus</h5>
        <p class="card-text text-center">The old system</p>
        <p class="card-text text-center">(Phasing out)</p>

      </div>
    </div>
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="text-center" style="margin-left:auto; margin-right:auto;">
        <img class="float-left" src="{% static 'icon_sets\djangopony.svg'%}" alt"" height="65" width="68" />
        <img class="float-left" src="{% static 'icon_sets\Postgresql.svg'%}" alt"" height="65" width="68" />
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Gygaia AIS</h5>
        <p class="card-text text-center">The new system</p>
        <p class="card-text text-center">(Stable)</p>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="text-center" style="margin-left:auto; margin-right:auto;">
        <img class="float-left" src="{% static 'icon_sets\djangopony.svg'%}" alt"" height="65" width="68" />
        <img class="float-left" src="{% static 'icon_sets\agensgraph.svg'%}" alt"" height="65" width="68" />
        <img class="float-left" src="{% static 'icon_sets\Postgresql.svg'%}" alt"" height="65" width="68" />
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Gygaia Graph</h5>
        <p class="card-text text-center">The future system</p>
        <p class="card-text text-center">(Highly experimental)</p>

      </div>
    </div>
  </div>






    <div class="card-group">
      <div class="card text-white bg-dark mb-3 pt-3">
        <div class="card-body">
          <h5 class="card-title text-center">Samples</h5>
          <p class="card-text text-center">Records to Import: {% count_new_access_rows %}</p>
          <div class="card-text text-center">
            {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
            <form class="" action="." method="post">
              {% csrf_token %}
              <div class="text-center">
                <button type="submit" class="save btn btn-default">Import {% count_new_access_rows %} New rows</button>
              </div>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3 pt-3">
        <div class="card-body">
          <h5 class="card-title text-center">Samples</h5>
          <p class="card-text text-center">Records to Import: {% count_new_gygaia_rows %}</p>
          <div class="card-text  text-center">
            {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
            <form class="" action="." method="post">
              {% csrf_token %}
              <button type="submit" class="save btn btn-default">Import {% count_new_gygaia_rows %} New rows</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3 pt-3">
        <div class="card-body">
          <h5 class="card-title text-center">Samples</h5>
          <p class="card-text text-center">Records to Import: {}</p>
          <div class="card-text text-center">
            {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
            <form class="" action="{}" method="post">
              {% csrf_token %}
              <button type="submit" class="save btn btn-default">Import {} New rows</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>



  <div class="card-group">
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Ceramics</h5>
        <p class="card-text text-center">Records to Import: {% count_new_access_rows %}</p>
        <div class="card-text text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="." method="post">
            {% csrf_token %}
            <div class="text-center">
              <button type="submit" class="save btn btn-default">Import {% count_new_access_rows %} New rows</button>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Ceramics</h5>
        <p class="card-text text-center">Records to Import: {% count_new_gygaia_rows %}</p>
        <div class="card-text  text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="." method="post">
            {% csrf_token %}
            <button type="submit" class="save btn btn-default">Import {% count_new_gygaia_rows %} New rows</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Ceramics</h5>
        <p class="card-text text-center">Records to Import: {}</p>
        <div class="card-text text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="{}" method="post">
            {% csrf_token %}
            <button type="submit" class="save btn btn-default">Import {} New rows</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>




  <div class="card-group">
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Conservation</h5>
        <p class="card-text text-center">Records to Import: {% count_new_access_rows %}</p>
        <div class="card-text text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="." method="post">
            {% csrf_token %}
            <div class="text-center">
              <button type="submit" class="save btn btn-default">Import {% count_new_access_rows %} New rows</button>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Conservation</h5>
        <p class="card-text text-center">Records to Import: {% count_new_gygaia_rows %}</p>
        <div class="card-text  text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="." method="post">
            {% csrf_token %}
            <button type="submit" class="save btn btn-default">Import {% count_new_gygaia_rows %} New rows</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Conservation</h5>
        <p class="card-text text-center">Records to Import: {}</p>
        <div class="card-text text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="{}" method="post">
            {% csrf_token %}
            <button type="submit" class="save btn btn-default">Import {} New rows</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>



  <div class="card-group">
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Zooarchaeology</h5>
        <p class="card-text text-center">Records to Import: {% count_new_access_rows %}</p>
        <div class="card-text text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="." method="post">
            {% csrf_token %}
            <div class="text-center">
              <button type="submit" class="save btn btn-default">Import {% count_new_access_rows %} New rows</button>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Zooarchaeology</h5>
        <p class="card-text text-center">Records to Import: {% count_new_gygaia_rows %}</p>
        <div class="card-text  text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="." method="post">
            {% csrf_token %}
            <button type="submit" class="save btn btn-default">Import {% count_new_gygaia_rows %} New rows</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Zooarchaeology</h5>
        <p class="card-text text-center">Records to Import: {}</p>
        <div class="card-text text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="{}" method="post">
            {% csrf_token %}
            <button type="submit" class="save btn btn-default">Import {} New rows</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>



  <div class="card-group">
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Excavation</h5>
        <p class="card-text text-center">Records to Import: {% count_new_access_rows %}</p>
        <div class="card-text text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="." method="post">
            {% csrf_token %}
            <div class="text-center">
              <button type="submit" class="save btn btn-default">Import {% count_new_access_rows %} New rows</button>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Excavation</h5>
        <p class="card-text text-center">Records to Import: {% count_new_gygaia_rows %}</p>
        <div class="card-text  text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="." method="post">
            {% csrf_token %}
            <button type="submit" class="save btn btn-default">Import {% count_new_gygaia_rows %} New rows</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Excavation</h5>
        <p class="card-text text-center">Records to Import: {}</p>
        <div class="card-text text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="{}" method="post">
            {% csrf_token %}
            <button type="submit" class="save btn btn-default">Import {} New rows</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>



  <div class="card-group">
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Botany</h5>
        <p class="card-text text-center">Records to Import: {% count_new_access_rows %}</p>
        <div class="card-text text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="." method="post">
            {% csrf_token %}
            <div class="text-center">
              <button type="submit" class="save btn btn-default">Import {% count_new_access_rows %} New rows</button>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Botany</h5>
        <p class="card-text text-center">Records to Import: {% count_new_gygaia_rows %}</p>
        <div class="card-text  text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="." method="post">
            {% csrf_token %}
            <button type="submit" class="save btn btn-default">Import {% count_new_gygaia_rows %} New rows</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3 pt-3">
      <div class="card-body">
        <h5 class="card-title text-center">Botany</h5>
        <p class="card-text text-center">Records to Import: {}</p>
        <div class="card-text text-center">
          {% if request.user|has_group:"admin_botany" or request.user|has_group:"admin_zooarchaeology" or request.user|has_group:"admin_small_finds" %}
          <form class="" action="{}" method="post">
            {% csrf_token %}
            <button type="submit" class="save btn btn-default">Import {} New rows</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>




  {% endblock %}
