{% extends "lightfraction/base.html" %}
{% load widget_tweaks %}

{% block content %}
{% include "menu1.html" %}
{% include "lightfraction/menu2.html" %}
<h1>LightFraction allfraction</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>LightFraction ID</th>
      <th>Botany ID</th>
      <th>Proportion Analysed</th>
      <th>Soil Volume</th>
      <th>Sample Volume</th>
      <th>Sample Weight</th>
      <th>Sediment</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for lightfraction in lightfraction.all %}
    <tr>


      <td>{{ lightfraction.fraction_id }}</td>
      <td>{{ lightfraction.flotation_id }}</td>
      <td>{{ lightfraction.proportion_analysed }}</td>
      <td>{{ lightfraction.soil_volume }}</td>
      <td>{{ lightfraction.sample_volume }}</td>
      <td>{{ lightfraction.sample_weight }}</td>
      <td>{{ lightfraction.sediment }}</td>


      <td>
        <div class="btn-group" role="group" aria-label="Basic example">

          <a href="{% url 'addlightfraction' %}" class="badge badge-primary" role="button">Add LightFraction</a>
          <a href="{% url 'detaillightfraction' lightfraction.fraction_id %}" class="badge badge-warning" role="button">detail</a>
          <a href="% url 'editcontainersearch' pk=o.pk %" class="badge badge-secondary" role="button">request</a>
        </div>
      </td>


    </tr>
    {% endfor %}



  </tbody>
</table>











{% endblock %}
