{% load staticfiles %}
<div  class="" style="margin-top:-150px; position: fixed; width:100%; z-index:1020;">
  <div class="navbar navbar-inverse navbar-static-top navbar-expand-lg navbar-dark bg-dark" id="topNav">
    <div class="navbar navbar-custom navbar-inverse navbar-static-top navbar-dark bg-dark" id="nav2" >
      <div class="navbar-inner">
        <div class="float-left text-center" style="margin-right:10px;"><a href="{% url 'addspecies' %} "  style="color:white;"><button  type="button" class="btn btn-success"><img src="{% static 'icon_sets\depot-solid-add.svg'%}" alt"" height="65" width="68" /><br />Add Species</button></a></div>
        <div class="float-left text-center" style="margin-right:10px;"><a href="{% url 'allbotany' %} "  style="color:white;"><button  type="button" class="btn btn-info"><img src="{% static 'icon_sets\seedling-solid.svg'%}" alt"" height="65" width="68" /><br />Botany</button></a></div>
        <div class="float-left text-center" style="margin-right:10px;"><a href="{% url 'samplelist' %} "  style="color:white;"><button  type="button" class="btn btn-info"><img src="{% static 'icon_sets\tag-solid.svg'%}" alt"" height="65" width="68" /><br />Samples</button></a></div>
        <div class="float-left text-center" style="margin-right:10px;"><a href="{% url 'allflotation' %} "  style="color:white;"><button  type="button" class="btn btn-info"><img src="{% static 'icon_sets\flotation-solid.svg'%}" alt"" height="65" width="68" /><br />Flotation</button></a></div>
        <div class="float-left text-center" style="margin-right:10px;"><a href="{% url 'speciesmanager' %} "  style="color:white;"><button  type="button" class="btn btn-info"><img src="{% static 'icon_sets\plant-hand.svg'%}" alt"" height="65" width="68" /><br />Taxon Manager</button></a></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
